@charset "EUC-KR";
.SCcontent{
    text-align: center;
}
.SCcontent .imgarea{
    position: relative;
}
.SCcontent .imgarea img{
    height:50vh;
    width:100%;
    opacity: 30%;
    vertical-align: middle;
}
.imgarea .img_text {
	width: 100%;
    position: absolute;
    left: 0%;
    bottom: 50%;
}
.SCcontent .content{
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    table-layout: fixed;
    width:100%;
}
.content table tbody tr #table_img_area{
	width:200px;
	padding:20px;
}
.content table tbody img{
	width:150px;
	height:150px;
}
.content tbody tr{
	height:170px;
}
/* #navi{ border:1px solid black; } */
.content #navi li{
    list-style:none;
    cursor: pointer;
    margin-bottom:10px;
    height:40px;
    padding-top:1em;
}
.content #navi li:hover{
    background-color: lightgray;
}

.content #navi{
    width:20%;
    position: relative;
}
.content #main_content{
    width:80%;
    position: relative;
}
#main_content table{
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    width:70%;
}
/* #main_content table td, #main_content table th{ border-bottom:1px solid black; } */
#main_content table tr{
    height:40px;
}
#main_content table tbody tr:hover{
    background-color: lightgray;
    cursor: pointer;
}
.faq_table tr{
    border:1px;
}
.faq_table td{
    border:0;
}
.SCcontent .faqDetail{
    border-collapse: collapse;
    width:70%;
    height:20vw;
	table-layout: fixed;
}
.SCcontent .faqDetail th, .SCcontent .faqDetail td{
    border: 1px solid black;
    height:50px;
}
.SCcontent .qnaDetail_admin{
    border-collapse: collapse;
    width:70%;
    height:10vw;
	table-layout: fixed;
}
.SCcontent .qnaDetail_admin th, .SCcontent .qnaDetail_admin td{
    border: 1px solid black;
}
.bt-toolbar{
	background-color:gray;
	color:white;
	border-radius: 30px;
}